{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <title>Robocop Controller</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- link rel="stylesheet" href="{% static "css/style.css" %}" -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <!-- Robot mapping CSS -->
      <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />

      <title>Robot Controller</title>
    </head>
    <body>

      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
       <a class="navbar-brand" href=".">Robot Controller</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>

       <div class="collapse navbar-collapse" id="navbarsExampleDefault">
         <ul class="navbar-nav mr-auto">
         </ul>

       </div>
     </nav>

     <div class="container">

       <div style="padding-top:120px; text-align:center;">
        <h1>Welcome to the Robot Controller!</h1>
        <p class="lead">
          Some stuff you will be able to do:<br>
          - Set a new area to map <br>
          - Get the current location of the robot<br>
          - Enjoy while the robot patrols your house<br>
        </p>
      </div>

      <hr>
      <!--
      <form action="#" id="add_point_form">
        <div class="form-group">
          <label for="add_x_coord">X coordinate</label>
          <input type="number" class="form-control" id="add_x_coord" name="x" placeholder="Enter X coordinate">
        </div>
        <div class="form-group">
          <label for="add_y_coord">Y coordinate</label>
          <input type="number" class="form-control" id="add_y_coord" name="y" placeholder="Enter Y coordinate">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <hr>
      !-->
    </div>


    <div class="center">
      <h1 class="heading"> Robocop Tracker</h1>
    </div>
    <div class="center">
     <canvas id="myCanvas" width="800" height="800"></canvas>
     <div class="status-box">
        <h2>Tracker Status</h2>


        <p1>current position:</p1>
        <p1 id="pcXY"></p1>
        <button class="button" onclick="sendMoveToXY()">Relocate</button>
        <br>
        <p1>map position:</p1>
        <p1 id="pXY">x = N/A y = N/A</p1>
        <button class="button" onclick="downloadMap()">Update Map</button>

        <div class= "center">
          <button class="button" onclick="addXY_PathBTN()">Add Coordinates</button>
           
          <button class="button" onclick="startPatrolling()">Start Patrolling</button>
          <button class="button" onclick="stopPatrolling()">Stop Patrolling</button>
          <button class="button" onclick="clearPath()">Clear Patrol Path</button>
          <br>

          <h id = "addCoordSuccess">Coordinates update status...</h>
        </div>
      </div>
    </div>


  <!-- Bootstrap and javascript stuff -->
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- Robot mapping JS -->
  <script type="text/javascript" src="{% static 'index.js' %}"></script>
</body>
</html>