.center {
    text-align: center;
}
.heading {
    font-family: "arial";
}

.box {
    height: 800px;
    background-color: #4c4c4c;
    padding: 30px;
    font-family: "arial";
    color: white;
}

.button {
    margin: 20px;
    height: 50px;
    width: 100px;
    color: white;
    background-color: black;
}

p1 {
    padding-left: 20px;
    font-size: 18px;
}